<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.Launcher">
        <activity android:name=".specialtyorders.SpecialtyOrdersActivity"></activity>
        <activity android:name=".palletstoworkon.PalletsToWorkOnActivity" />
        <activity android:name=".skustoworkon.SKUsToWorkOnActivity" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".DeptExtensionsActivity" />
        <activity android:name=".choosedepartment.DepartmentsNotesActivity" />
        <activity android:name=".MoreOptionsMenuActivity" />
        <activity android:name=".MainLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>